@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@400;500;700&display=swap");
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

p,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
}

small {
  font-family: "Roboto", sans-serif;
  color: #303d4b;
}

i {
  color: #d9e2ec;
}

.text-link {
  color: #0967d2;
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: #e4e7eb;
}

html,
body {
  height: 100%;
}

.main-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.landing-section {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #0f0f0f), to(#0f609b));
  background: linear-gradient(#0f0f0f 30%, #0f609b);
  height: 55vh;
  position: relative;
}

.landing-small {
  height: 30vh !important;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d9e2ec;
  height: 80%;
}

.welcome p {
  font-size: 1.4rem;
}

.welcome-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  max-width: 700px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.welcome-image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 1.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.welcome-text-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.welcome-text-btns .btn {
  margin: 0.3rem 0.5rem;
}

.social-links {
  position: absolute;
  right: 5%;
  top: 92%;
}

.social-links i {
  font-size: 1.8rem;
  margin: 0.125rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-links i:hover, .social-links i:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

.offer-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 0;
}

.offer-section .offer-section-header {
  color: #1f2933;
  text-align: center;
}

.offer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 330px;
  background-color: #01337d;
  margin: 1rem;
  border-radius: 0.5rem;
  color: #d9e2ec;
  padding: 1.5rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  -webkit-animation: slideLeft 1s ease-out;
          animation: slideLeft 1s ease-out;
}

.cards i {
  font-size: 4rem;
  margin: 1rem;
}

.selected-projects-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.selected-projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
}

.selected-projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selected-projects-header .btn:hover,
.selected-projects-header .btn:focus {
  background-color: #d9e2ec;
  color: #0f609b;
}

.main-footer {
  background-color: #102a43;
  color: #d9e2ec;
  padding: 2rem 0;
}

.main-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5rem;
}

.footer-links i {
  font-size: 1.7rem;
  margin: 0.3rem 0.1rem;
}

.copyright {
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1000px) {
  .selected-projects-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .selected-projects-container .project-card {
    width: 80%;
    margin: 1rem 0;
  }
  .selected-projects-container .project-card:hover, .selected-projects-container .project-card:focus {
    margin: 0 0 1.5rem 0;
  }
}

@media (max-width: 605px) {
  .landing-section {
    height: 65vh;
  }
  .welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0.5rem;
  }
  .welcome p {
    font-size: 1.3rem;
  }
  .welcome-text {
    margin-top: 0.5rem;
  }
  .welcome-text-btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .welcome-image {
    margin: 0;
  }
  .welcome-image .avatar {
    width: 65%;
  }
  .welcome-text-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 415px) {
  .landing-section {
    height: 70vh;
  }
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5rem;
}

.main-nav {
  margin: 1rem;
}

.main-nav li {
  display: inline-block;
  margin: 0 0.5rem;
  position: relative;
}

.nav-link {
  padding: 0.5rem 0;
  color: #fff;
}

.active {
  font-weight: bold;
  color: #0f609b;
}

.main-nav li a::after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 0%;
  background-color: #0f609b;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-nav li a:hover::after {
  width: 100%;
}

.logo {
  font-family: "Kaushan Script", decoration;
  color: #ffff;
  font-size: 1.7rem;
}

@media (max-width: 700px) {
  .nav-container {
    margin: 0 0.5rem;
  }
}

.btn {
  display: inline-block;
  border: 1px #ffff solid;
  padding: 0.8rem 2.2rem;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover, .btn:focus {
  background-color: #0967d2;
}

.blue {
  border: none;
  background-color: #0967d2;
}

.blue:hover, .blue:focus {
  background-color: #054186;
}

.dark-blue {
  border: 2px #0f609b solid;
  color: #1f2933;
  font-weight: 500;
}

.dark-blue:hover, .dark-blue:focus {
  background-color: #054186;
}

.small {
  padding: 0.4rem 0.5rem;
}

@media (max-width: 640px) {
  .btn {
    padding: 0.4rem 1.3rem;
    white-space: nowrap;
  }
}

.project-details {
  margin: 1rem;
}

.project-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-details-container .project-details-img {
  margin: 0 1rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.project-details-container .project-details-img img {
  width: 100%;
  min-width: 400px;
}

.project-details-container p {
  max-width: 600px;
}

.project-details-text {
  margin: 0 1rem;
}

.project-details-text .tools ul {
  list-style: none;
}

.project-details-text .tools ul li {
  display: inline-block;
  margin: 0.2rem;
}

.project-details-text .tools ul small {
  display: block;
  text-align: center;
}

.project-details-text .tools ul li i {
  font-size: 1.8rem;
  color: #01337d;
}

.selected-projects-section {
  background-color: #0f609b;
  color: #f3e5f2;
  padding: 3rem 1rem;
}

.project-card {
  position: relative;
  margin: 0.5rem;
  width: 30%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.project-card:hover, .project-card:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: 0 1rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.project-card-banner {
  background-color: #01337d;
  position: absolute;
  bottom: 100%;
  padding: 0.3rem 1rem;
  border-radius: 2px;
  width: auto;
}

.project-card-image {
  width: 100%;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.project-card-image:hover {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.project-image-text {
  position: absolute;
  background-color: #01337d;
  bottom: 0%;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  display: block;
}

@media screen and (max-width: 760px) {
  .project-details-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-details-container .project-details-text {
    margin: 1rem;
  }
}

.portfolio {
  padding: 2rem 0;
  margin-bottom: 10rem;
}

.page-header {
  color: #d9e2ec;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.portfolio-container .project-image-text {
  background-color: #003e6bcb;
  color: #d9e2ec;
}

.portfolio-container .project-card {
  border-radius: 3px;
}

.portfolio-container .project-card:hover, .portfolio-container .project-card:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.portfolio-container .project-card small {
  display: none;
}

@media screen and (max-width: 900px) {
  .portfolio-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-container .project-card {
    width: 70%;
    margin-bottom: 2rem;
  }
  .portfolio-container .project-card:hover, .portfolio-container .project-card:focus {
    margin: 2rem 0;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.about-me {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.about-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5em;
  position: relative;
}

.about-profile::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #01337d;
  height: 5px;
}

.about-profile-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0.5rem;
  margin-right: 0.5rem;
}

.profile-img {
  border-radius: 5px;
  width: 10rem;
}

.about-list {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0.5rem 0;
  margin-left: 0.5emr;
}

.about-list li {
  list-style: none;
}

.about-list .my-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #01337d;
}

.about-text {
  max-width: 600px;
}

.about-text p {
  margin-bottom: 0.5em;
}

.about-education dt {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #0f609b;
  margin-bottom: 0.5rem;
}

.about-education span {
  font-size: 0.9rem;
  color: #627d98;
  display: block;
}

.about-education dd {
  margin-bottom: 0.5rem;
}

.about-education dd p {
  font-weight: 400;
}

.skills .skills-header {
  font-weight: 700;
  color: #0f609b;
  margin-bottom: 0.5rem;
}

.skills .skills-list-li {
  margin: 0.5rem 1rem;
}

.bookshelf__book img {
  margin-top: 1rem;
}

.bookshelf__book small {
  color: #303d4b;
}

@media screen and (max-width: 1140px) {
  .about-me {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 900px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0.5rem;
  }
  .bookshelf-container {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 340px) {
  .about-profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
