.project-details {
  margin: 1rem;
}
.project-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .project-details-img {
    margin: 0 1rem;
    order: 2;

    img {
      width: 100%;
      min-width: 400px;
    }
  }
  p {
    max-width: 600px;
  }
}

.project-details-text {
  margin: 0 1rem;
  .tools ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 0.2rem;
    }
    small {
      display: block;
      text-align: center;
    }
  }

  .tools ul li i {
    font-size: 1.8rem;
    color: $primary-darkblue;
  }
}

// Selected Projects
.selected-projects-section {
  background-color: $primary-blue;
  color: #f3e5f2;
  padding: 3rem 1rem;
}

.project-card {
  position: relative;
  margin: 0.5rem;
  width: 30%;
  transition: 0.5s ease-in-out;
  &:hover,
  &:focus {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: 0 1rem;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
}
.project-card-banner {
  background-color: $primary-darkblue;
  position: absolute;
  bottom: 100%;
  padding: 0.3rem 1rem;
  border-radius: 2px;
  width: auto;
}
.project-card-image {
  width: 100%;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
  &:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  }
}
.project-image-text {
  position: absolute;
  background-color: $primary-darkblue;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  display: none;
}
// display project image text
.show {
  display: block;
}

// Media Queries

@media screen and (max-width: 760px) {
  .project-details-container {
    flex-direction: column;
    .project-details-text {
      margin: 1rem;
    }
  }
}
